.mark_table{
  margin: 0 auto;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.mark_table td,.mark_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.mark_table tr:nth-child(even){background-color: #f2f2f2;}

.mark_table tr:hover {background-color: #ddd;}

.mark_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
